{% extends 'base.html.twig' %}

{% block title %}Orders{% endblock %}

{% block body %}
    <h1>Orders</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ order.id }}</td>
            </tr>
            <tr>
                <th>EmployeeID</th>
                <td>{{ order.EmployeeID }}</td>
            </tr>
            <tr>
                <th>OrderDate</th>
                <td>{{ order.OrderDate ? order.OrderDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>RequiredDate</th>
                <td>{{ order.RequiredDate ? order.RequiredDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>ShippedDate</th>
                <td>{{ order.ShippedDate ? order.ShippedDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>ShipVia</th>
                <td>{{ order.ShipVia }}</td>
            </tr>
            <tr>
                <th>Freight</th>
                <td>{{ order.Freight }}</td>
            </tr>
            <tr>
                <th>ShipName</th>
                <td>{{ order.ShipName }}</td>
            </tr>
            <tr>
                <th>ShipAddress</th>
                <td>{{ order.ShipAddress }}</td>
            </tr>
            <tr>
                <th>ShipCity</th>
                <td>{{ order.ShipCity }}</td>
            </tr>
            <tr>
                <th>ShipRegion</th>
                <td>{{ order.ShipRegion }}</td>
            </tr>
            <tr>
                <th>ShipPostalCode</th>
                <td>{{ order.ShipPostalCode }}</td>
            </tr>
            <tr>
                <th>ShipCountry</th>
                <td>{{ order.ShipCountry }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('orders_index') }}">back to list</a>

    <a href="{{ path('orders_edit', {'id': order.id}) }}">edit</a>

    {{ include('orders/_delete_form.html.twig') }}
{% endblock %}
