{% extends 'base.html.twig' %}

{% block title %}OrderDetails index{% endblock %}

{% block body %}
    <h1>OrderDetails index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>UnitPrice</th>
                <th>Quantity</th>
                <th>Discount</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for order_detail in order_details %}
            <tr>
                <td>{{ order_detail.id }}</td>
                <td>{{ order_detail.UnitPrice }}</td>
                <td>{{ order_detail.Quantity }}</td>
                <td>{{ order_detail.Discount }}</td>
                <td>
                    <a href="{{ path('order_details_show', {'id': order_detail.id}) }}">show</a>
                    <a href="{{ path('order_details_edit', {'id': order_detail.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('order_details_new') }}">Create new</a>
{% endblock %}
